.links{
    
    background-color: blanchedalmond;
    height: 30px;
    font-size: 170%;  
    padding: 10px 0px;
}
.link{  
    
    color: black;
    text-decoration: none;
    background-color: burlywood;
    padding: 10px 100px;
   
}
.galeria{
    float:left;
    width:200px;
    height:170px;
    margin:4px;
}
.fondo{
    background-image: url("fondo.jpg");
}
.cabecera
{
    background-color: darkseagreen;
    text-align: center;
    height:20%;
    background-image: url("zapatos2.jpg");
    

}

.cuerpo {
    text-align: center;
}

.titulo {
    
    margin-top: 30px;
    background-color: blanchedalmond;
    height:20%;
}

.subtitulo {
    margin-top: 50px;
    margin-bottom: -20px;
    background-color: blanchedalmond;
    height: 25px;
    font-size: 120%
    
}
.texto {
    display: inline-block;
    width: 27%;
    margin: 5px;
    text-align: right;
    height: 22px;
}

.form {
    
    width: 40%;
}